*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 100px;
    display: flex;
}
header img{
    margin-top: 5px;
    width: 95px;
    height: 90%;
    margin-left: 60px;
    cursor: pointer;
}
header #rankClass{
    margin-left: 20px;
    margin-top: 35px;
    font-size: 20px;
    font-family: 'khmer';
    font-weight: bold;
}
header #sort-down{
    margin-top: 35px;
    margin-left: 5px;
    cursor: pointer;
}
header .find{
    margin-top: 25px;
    width: 400px;
    height: 50px;
    margin-left: 10px;
    position: relative;
}
header .find input{
    width: 100%;
    height: 100%;
    font-size: 22px;
    font-family: 'khmer';
}
header #fa-search{
    position: absolute;
    right: 15px;
    top: 17px;
    cursor: pointer;
}
header #fpage{
    margin-left: 20%;
    margin-top: 35px;
    font-family: 'khmer';
    font-size: 20px;
    font-weight: bold;
}
header #course{
    margin-top: 35px;
    font-family: 'khmer';
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}
header #aboutUS{
    margin-top: 35px;
    font-family: 'khmer';
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}
header #shopping-cart{
    margin-top: 35px;
    font-size: 20px;
    margin-left: 20px;
}
header #signin{
    margin-top: 35px;
    font-family: 'khmer';
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}
header .btn{
    background-image: linear-gradient(137.48deg, #ffdb3b 10%,#FE53BB 45%, #8F51EA 67%, #0044ff 87%);
    width: 100px;
    height: 40px;
    margin-top: 25px;
    margin-left: 20px;
    font-family: 'khmer';
    font-weight: bold;
    color: black;
    cursor: pointer;
}
header .btn a{
    text-decoration: none;
    color: #ffff;
}
header .btn:hover{
    transform: scale(1.1);
    transition: all .2s ease;
}

.main_slide{
    position: absolute;
}
.main_slide img{
    width: 100vw;
    height: 600px;
}
.textOnslide{
    width: 100vw;
    height: 600px;
}
.textOnslide #text1{
    font-size: 40px;
    color: #ffff;
    margin-top: 7%;
    margin-left: 40%;
    position: absolute;
}
.textOnslide #text2{
    font-size: 25px;
    color: #ffff;
    margin-top: 11%;
    margin-left: 25%;
    position: absolute;
}
.textOnslide .research{
    width: 600px;
    height: 60px;
    margin-top: 15%;
    margin-left: 35%;
    position: absolute;
}
.textOnslide .research #input_name{
    width: 100%;
    height: 100%;
    font-size: 25px;
}
.textOnslide .research #fa-search{
    position: absolute;
    right: 15px;
    top: 20px;
    color: blue;
}
.informetion{
    background-color: dodgerblue;
    width: 100vw;
    height: 200px;
    display: flex;
    justify-content: space-between;
    padding: 0 15%
}
.informetion .group{
    width: 33%;
    height: 100%;
    display: flex;
}
.group .icon{
    width: 30%;
    height: 100%;
}
.group .icon i{
    font-size: 60px;
    margin-top: 60%;
    margin-left: 10px;
 }
 .group p{
    margin-left: 15px;
    margin-top: 40px;
    font-family: 'khmer';
    font-size: 18px;
    color: #ffff;
}
.informetion .assistan{
    width: 34%;
    height: 100%;
    display: flex;
}
.assistan .icon{
    width: 30%;
    height: 100%;
}
.assistan .icon i{
   font-size: 60px;
   margin-top: 65%;
   margin-left: 10px;
}
.assistan p{
    margin-left: 15px;
    margin-top: 40px;
    font-family: 'khmer';
    font-size: 18px;
    color: #ffff;
}
.informetion .leaflets{
    width: 33%;
    height: 100%;
    display: flex;
}
.leaflets .icon{
    width: 30%;
    height: 100%;
}
.leaflets .icon i{
    font-size: 60px;
    margin-top: 60%;
    margin-left: 10px;
 }
 .leaflets p{
    margin-left: 15px;
    margin-top: 40px;
    font-family: 'khmer';
    font-size: 18px;
    color: white;
}
.mainSub{
    height: 1000px;
}
.mainSub .topBox, .midBox, .buttomBox{
    width: 100%;
    height: 30%;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.topBox .subject{
    position: relative;
    width: 24%;
    height: 100%;
    background-color: rgba(29, 99, 5, 0.754);
}
.topBox .subject img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    border-radius: 100%;
}
.topBox .subject .hover{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.339);
    visibility: hidden;
}
.topBox .subject .hover .txt{
    width: 100%;
    height: 80%;
    display: grid;
    place-items: center;
}
.topBox .subject .hover .txt strong{
    font-size: 30px;
    color: rgb(255, 255, 255);
}
.topBox .subject .hover .icon{
    width: 100%;
    height: 20%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.topBox .subject .hover .icon .btn{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: grid;
    place-items: center;
    margin-left: 10px;
    box-shadow: 1px -2px 20px pink;
}
.topBox .subject .hover .icon .btn a i{
    color: dodgerblue;
}
.topBox .subject:hover .hover{
    visibility: visible;
    transition: all 0.2s;
}
.midBox{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
}
.midBox .subject{
    position: relative;
    width: 24%;
    height: 100%;
    background-color: red;
}
.midBox .subject img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    border-radius: 100%;
}
.midBox .subject .hover{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.339);
    visibility: hidden;
}
.midBox .subject .hover .txt{
    width: 100%;
    height: 80%;
    display: grid;
    place-items: center;
}
.midBox .subject .hover .txt strong{
    font-size: 30px;
    color: rgb(255, 255, 255);
}
.midBox .subject .hover .icon{
    width: 100%;
    height: 20%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.midBox .subject .hover .icon .btn{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: grid;
    place-items: center;
    margin-left: 10px;
    box-shadow: 1px -2px 20px pink;
}
.midBox .subject .hover .icon .btn a i{
    color: dodgerblue;
}
.midBox .subject:hover .hover{
    visibility: visible;
    transition: all 0.2s;
}
.buttomBox{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
}
.buttomBox .subject{
    position: relative;
    width: 24%;
    height: 100%;
    background-color: dodgerblue;
}
.buttomBox .subject img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    border-radius: 100%;
}
.buttomBox .subject .hover{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.339);
    visibility: hidden;
}
.buttomBox .subject .hover .txt{
    width: 100%;
    height: 80%;
    display: grid;
    place-items: center;
}
.buttomBox .subject .hover .txt strong{
    font-size: 30px;
    color: rgb(255, 255, 255);
}
.buttomBox .subject .hover .icon{
    width: 100%;
    height: 20%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttomBox .subject .hover .icon .btn{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: grid;
    place-items: center;
    margin-left: 10px;
    box-shadow: 1px -2px 20px pink;
}
.buttomBox .subject .hover .icon .btn a i{
    color: dodgerblue;
}
.buttomBox .subject:hover .hover{
    visibility: visible;
    transition: all 0.2s;
}
